In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/covid_deaths.csv')

In [3]:
df.head(10)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,507227.0,3895460.0,436916.0,245524.0,8959.0,706352.0,NaN
1,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,45.0,20998.0,226.0,7.0,21.0,285.0,NaN
2,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,216.0,36860.0,623.0,39.0,178.0,978.0,NaN
3,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,28.0,3808.0,131.0,5.0,60.0,214.0,NaN
4,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,81.0,6143.0,183.0,16.0,76.0,324.0,NaN
5,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,15-24 years,733.0,39692.0,866.0,291.0,81.0,1384.0,NaN
6,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,18-29 years,1822.0,70232.0,2018.0,801.0,150.0,3177.0,NaN
7,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,25-34 years,3255.0,82207.0,3239.0,1474.0,237.0,5239.0,NaN
8,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,30-39 years,5352.0,99966.0,4897.0,2449.0,317.0,8095.0,NaN
9,3/10/2021,1/1/2020,3/6/2021,By Total,NaN,NaN,United States,All Sexes,35-44 years,8537.0,118067.0,7614.0,4016.0,357.0,12456.0,NaN

In [4]:
df.describe()

,Year,Month,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,46818.000000,41310.000000,38283.000000,4.198800e+04,34887.000000,38625.000000,40103.000000,35169.000000
mean,2020.235294,5.600000,348.103910,2.519795e+03,331.509359,167.583612,5.752512,530.034690
std,0.424187,3.592628,4808.660413,3.577543e+04,4363.007470,2314.681729,92.052370,7012.402123
min,2020.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,2.000000,0.000000,3.600000e+01,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,5.000000,0.000000,1.400000e+02,15.000000,0.000000,0.000000,21.000000
75%,2020.000000,9.000000,55.000000,6.532500e+02,77.000000,24.000000,0.000000,117.000000
max,2021.000000,12.000000,507227.000000,3.895460e+06,436916.000000,245524.000000,8959.000000,706352.000000

In [5]:
df.isnull().sum()

Data As Of                                      0
Start Date                                      0
End Date                                        0
Group                                           0
Year                                         2754
Month                                        8262
State                                           0
Sex                                             0
Age Group                                       0
COVID-19 Deaths                             11289
Total Deaths                                 7584
Pneumonia Deaths                            14685
Pneumonia and COVID-19 Deaths               10947
Influenza Deaths                             9469
Pneumonia, Influenza, or COVID-19 Deaths    14403
Footnote                                    17088
dtype: int64

Replace all of the missing death values with 0 - we'll assume that an absence of reporting means that there were not any deaths for this project.

In [6]:
for col in ['COVID-19 Deaths', 'Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths']:
    df[col] = df[col].fillna(0)

In [7]:
df.isnull().sum()

Data As Of                                      0
Start Date                                      0
End Date                                        0
Group                                           0
Year                                         2754
Month                                        8262
State                                           0
Sex                                             0
Age Group                                       0
COVID-19 Deaths                                 0
Total Deaths                                    0
Pneumonia Deaths                                0
Pneumonia and COVID-19 Deaths                   0
Influenza Deaths                                0
Pneumonia, Influenza, or COVID-19 Deaths        0
Footnote                                    17088
dtype: int64

In [8]:
df['Group'].unique()

array(['By Total', 'By Year', 'By Month'], dtype=object)

In [9]:
for group in df['Group'].unique():
    group_df = df[df['Group'] == group]
    group_df.to_csv(f'../../data/{group.split(" ")[-1].lower()}-deaths.csv')